body {
    background-color: rgb(199, 199, 199);
}
a {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
}
div {
    display: block;                
}
.head {
    font-family: fantasy;
    font-weight: 900;
    position: relative;
    display: block;
    text-align: center;
    font-size: 41px;
    top: 0px;
    width: 100%;
    letter-spacing: 3px;
    padding-top: 0px;
    padding-bottom: 15px;
    color: rgb(65, 140, 170);
}
#sub {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: block;
    font-size: 18px;
    margin-bottom: 12px;
    margin-top: -20px;
    letter-spacing: 5px;
    line-height: 22px;
    color: rgb(94, 9, 54);
}
.bar {
    position: relative;
    background-color: rgb(66, 116, 209);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
                
}
.bitem {
    float: inherit;
    text-align: center;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 9px;
    padding-right: 20px;
    padding-left: 55px;
    margin: 0px;
    height: 80%;
    font-weight: 700;
    display: table-cell;
    color: azure;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                
}
.baright {
    float: right !important;
    top: 30px;
}
.cont {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    line-height: 1.5;
    font-size: 15px;
    margin-top: 12px;
    display: block;
    float: inherit;
    position: relative;
}
.cent {
    float: center;
    overflow: auto;
    width: 90%;
    height: 100%;
    padding: 0px;
    padding-left: 90px;
    padding-right: 85px;
    margin: 0px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
}
#foot {
    font-size: 15px;
    width: 100%;
    text-align: center;
    padding: 5px 0 15px 0;
    border-top-color: black;
    border-top: 3px solid;
    align-self: center;
}
.introbox {
    width: 100%;
    border: 2px;
    border-color: black;
}
.name {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    margin-top: 10px;
}
.liint {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 2;
    font-size: 20px;
    text-align: center;
    padding-top: 2px;
}
.charname {
    font-family: fantasy;
    font-weight: 900;
    padding-bottom: 0px;
    margin-bottom: -10px;
    color: rgb(64, 119, 121);
}
.reading {
    font-weight: 900;
    color: rgb(218, 110, 110);
}
.heimu {
    background-color: black;
    color: black;
    text-shadow: none;
}
.blank {
    visibility: hidden;
}
.introcont {
    letter-spacing: 1px;
    line-height: 35px;
    margin-right: 135px;
    padding-right: 0;
}
.rightpic {
    margin-left: 15px;
}
